.playername {
  color: Red;
  width: 300px;
}
.playerfinish {
  color: Red;
  width: 50px;
}

.playerscore {
  color: Red;

  width: 50px;
}

.playertopar {
  color: Red;
  width: 50px;
}

.leaderboard {
  background-color: #eeeeee;
}
