// Colors
$orange-rust: #c14102;
$grey: #666;
$blue: #1c88bf;
$dark-blue: #4231dd;
$off-white: #f7f7f7;
$black: #000000;
$purple: #3a0c7d;
$kelly-green: #168f1b;
$light-aqua: #328bcc;

// Font Size
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
